dotenv
langchain 
langchain-openai
langchain_community
flask
langchain_groq
langchain_huggingface
langchain_chroma
Flask_Login
email_validator
Bootstrap_Flask
Flask_CKEditor
Flask-Gravatar
Flask_WTF
WTForms
Werkzeug
flask_sqlalchemy
SQLAlchemy
gunicorn
psycopg2-binary
pandas
datasets
numpy
transformers
sentence-transformers